body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .navbar1 {
    background-color: #f1f9ef;
    width: 30vw;
    display: flex;
    justify-content: right;
    gap: 22%;
    padding: 10px;
    color: #87c09b;
} */

.navbar-room-schedule {
    background-color: rgb(241, 249, 239);
    /* change */
    width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 10px;
    color: rgb(135, 192, 155);
}


.back-btn {
    /* Style the back button as needed */
    background-position: center;
    background-color: rgb(214, 245, 219);
    border-radius: 5px;
    padding: 5px;
    color: rgb(135, 192, 155);
    border-color: rgb(5, 239, 107);
    height: 50px;
    margin-right: 5px;
    /* Add your custom styles here */
}


.form-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(162, 234, 217);
    padding-bottom: 20px;
    color: rgb(38, 81, 53);
    width: 500px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    color: rgb(3, 85, 38);
}

input {
    border-radius: 5px;
    padding: 3px;
}

select {
    border-radius: 5px;
}

#submitBtn {
    margin-top: 10px;
    /* grid-column: span 2; */
    /* justify-self: center; */
    padding: 3px;
    background-color: rgb(221, 202, 196);
    border-radius: 5px;
    transition: background-color .5s;
}

#submitBtn:hover {
    background-color: rgb(4, 248, 90);
}

#selectedColor {
    height: 2rem;
    width: 12rem;
    color: #69e9b3;
}

#roomNumber {
    height: 2rem;
}