/* styles.css */
body {
    font-family: Arial, sans-serif;
    /* height: 80vh; */
    background-color: #f4f4f4;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.navbar1 {
    background-color: rgb(241, 249, 239);
    /* width: 45vw; */
    margin-top: 20px;
    /* display: flex;
    justify-content: right; */
    color: rgb(135, 192, 155);
}

.tooltip-inner {
    background-color: green !important;
}


.room-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: rgb(241, 249, 239);
    /* Gap between rooms */
    /* max-width: 700px; */
    /* Set maximum width */
    /* max-height: 300px; */
}

@media (max-width: 650px) {
    .room-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }
}

@media (max-width: 500px) {
    .room-grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(8, 1fr) !important;
    }
}

.room {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    height: 22rem;
    width: 22rem;
    background-image: url('/door_image.png');
    background-size: cover;
}


.room-number {
    position: absolute;
    top: 6rem;
    left: 11rem;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 24px;
    color: rgb(53, 50, 135);
}

/* .door {
    height: 15rem;
} */

.room:hover {
    cursor: pointer;
}